body {
  font-family: helvetica;
  color: #4C4C4C;
  background-color: #FCFEFF;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
  width: 100%;
}

.hide-completed {
    color: white;
    font-weight: lighter;
}

.container-fluid {
  /*max-width: 600px;*/
  margin: 0 auto;
  min-height: 100%;
  background: white;
  padding-right: 0px;
  padding-left: 0px; 
}

header {
  background: #75E864;
  background-image: #75E864;
  padding: 20px 15px 15px 15px;
  position: relative;
  width: 100%;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  color: white;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  background: #BAE8B3;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  color: white;
}

.new-task input:focus{
  outline: 0;
  border-color: white;
}

/* Styling Placeholder Text*/

::-webkit-input-placeholder { /* WebKit browsers */
   color:    white;
   font-weight: lighter;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   font-weight: lighter;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   font-weight: lighter;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    white;
   font-weight: lighter;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  opacity: 0.5;
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}